.collapsible {
  background: #777;
  border: none;
  color: white;
  cursor: pointer;
  font-size: 15px;
  outline: none;
  padding: 18px;
  text-align: left;
  width: 100%;
}

.collapsible-content {
  background: #eee;
  max-height: 0;
  overflow: hidden;
  padding: 0 18px;
  transition: max-height .2s ease-out;
}

.collapsible:hover {
  background: #555;
}

.centered-text {
  text-align: center;
}

#projects {
  background: #eee;
}

#projects-content {
  margin-left: auto;
  margin-right: auto;
  width: 800px;
}

#comment-section {
  background: #eee center;
  display: flex;
  flex-direction: column;
  height: 1000px;
  min-height: 100px;
  overflow-y: auto;
  width: 90%;
}

#comm-body {
  height: auto;
  margin: 0 0 0 25px;
  min-height: 40px;
  width: 500px;
}

#comm-body-label {
  margin: 10px 0 0 25px;
}

#comm-username {
  margin: 0 0 0 25px;
}

#comm-username-label {
  margin: 10px 0 0 25px;
}

#image-id {
  display: none;
}

#bar1,
#bar2,
#bar3 {
  background-color: black;
  height: 5px;
  margin: 6px 0;
  transition: .2s;
  width: 35px;
}

#close-button {
  color: #eee;
  font: 100px bold;
  position: -webkit-sticky;
  position: sticky;
  text-align: right;
  top: 10px;
}

#close-button:hover {
  color: #bbb;
  cursor: pointer;
}

#focus-image {
  display: block;
  margin: auto;
  max-width: 700px;
  width: 80%;
}

#focus-image-caption {
  color: #eee;
  display: block;
  font: 12px/1 Arial, Helvetica, sans-serif;
  height: 150px;
  margin: auto;
  max-width: 700px;
  padding: 10px 0;
  text-align: center;
  width: 80%;
}

#focus-image-index {
  font: 0;
}

#modal {
  background: rgba(0,0,0,.85);
  display: none;
  height: 100%;
  left: 0;
  overflow: auto;
  padding: 100px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
}

#contact {
  top: 280px;
}

#gallery {
  background: url('../images/paws_background.jpg') right top/1000px 1600px repeat-y,
              linear-gradient(to right, #cf680e, white, white, white, white, white), center/100% no-repeat;
}

#gallery-text {
  font: 16px/1 Arial, Helvetica, sans-serif;
}

#gallery-title {
  font: small-caps bold 20px/1 Arial, Helvetica, sans-serif;
}

.gallerycolumn {
  flex: 30%;
  max-width: 30%;
  padding: 0 4px;
}

.galleryelement img {
  margin-top: 8px;
  transition: transform .5s ease;
  vertical-align: middle;
  width: 100%;
}

.galleryelement:hover img {
  opacity: .75;
}

.galleryrow {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
}

.dropdown {
  cursor: pointer;
  display: inline-block;
  position: fixed;
  z-index: 2;
}

.dropdown_content {
  background: #aaa;
  display: none;
  position: absolute;
  z-index: 2;
}

.dropdown_content a {
  color: black;
  display: block;
  font: 20px/1 Arial, Helvetica, sans-serif;
  padding: 12px 16px;
  text-decoration: none;
}

.dropdown_content a:hover {
  background: #777;
  transition: .1s ease-out;
}

#navmenu-current-location {
  background: #777;
}

#navmenu {
  width: 200px;
}

#frontcard {
  background: rgba(0, 0, 0, .1);
  height: 500px;
  width: 100%;
}

#front-text {
  backdrop-filter: blur(2px);
  bottom: 40%;
  height: 70px;
  left: 0;
  margin: auto;
  position: absolute;
  right: 0;
  top: 0;
  width: 50%;
}

#funfacts {
  top: 210px;
}

#greeting-container {
  margin-top: 20px;
}

input[type=checkbox] {
  display: none;
}

#interests {
  top: 140px;
}

#main-content {
  background: url("./images/code.png") top/cover no-repeat fixed;
  min-height: 500px;
}

.main-text {
  background: #eee;
  font-size: 20px;
  height: auto;
  padding: 0 50px 0 50px;
  width: auto;
}

#mybackground {
  top: 70px;
}

.sections {
  background-color: #777;
  height: 70px;
  position: -webkit-sticky;
  position: sticky;
  width: 100%;
}

.sections h1 {
  font: small-caps bold 30px/1 Arial, Helvetica, sans-serif;
}

.titlecard {
  font: small-caps bold 32px/1 Arial, Helvetica, sans-serif;
}

.invisible {
  display: none;
}

.visible {
  display: block;
}

#whoami {
  top: 0;
}
