#content {
  margin-left: auto;
  margin-right: auto;
  width: 650px;
}

#greeting-container {
  margin-top: 20px;
}

#gallerycontent {
  
}

.galleryrow {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
}

.gallerycolumn {
    flex: 30%;
    max-width: 30%;
    padding: 0 4px;
}

.gallerycolumn img {
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
}
