.centered-text  {
  text-align: center;
}

#content {
  margin-left: auto;
  margin-right: auto;
  width: 650px;
}

#gallery {
  background: url('../images/paws_background.jpg') right top/1200px 1754px repeat-y,
              linear-gradient(to right, #cf680e, white, white, white, white, white), center/100% no-repeat;
}

.gallerycolumn {
  flex: 30%;
  max-width: 30%;
  padding: 0 4px;
}

.galleryelement img {
  margin-top: 8px;
  transition: transform 0.5s ease;
  vertical-align: middle;
  width: 100%;
}

.galleryelement:hover img {
  transform: scale(1.5);
}

.galleryrow {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
}

#greeting-container {
  margin-top: 20px;
}

input[type=checkbox] {
  display: none;
}
